* {
  box-sizing: border-box;
}

body {
  font-family: 'Mansalva', cursive;
}

.todo-container {
  width: 600px;
  margin: 30px auto 0;
  background-color: #ede4ff;
}

.todo-container .add-task {
  padding: 15px;
  background-color: #8675a9;
  position: relative;
}

.todo-container .add-task input {
  padding: 10px 15px;
  display: inline-block;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: calc(100% - 5px);
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
}

.todo-container .add-task input:focus {
  outline: none;
}

.todo-container .add-task .plus {
  height: 43px;
  width: 43px;
  position: absolute;
  right: 12px;
  background-color: #fff;
  color: #8675a9;
  border-radius: 50%;
  line-height: 43px;
  cursor: pointer;
  text-align: center;
  font-size: 38px;
  transition: transform .3s;
}

.todo-container .add-task .plus:hover {
  transform: rotate(90deg);
}

.todo-container .task-content {
  padding: 15px;
}

.todo-container .task-content .no-tasks-messag {
  color: #777;
  font-size: 15px;
}

.todo-container .task-content > span {
  display: block;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.todo-container .task-content > span:not(:last-child) {
  margin-bottom: 10px;
}

.todo-container .task-content .task-box .del {
  float: right;
  background-color: #c3aed6;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 4px 10px;
  cursor: pointer;
}

.todo-container .task-content .task-box.finished {
  text-decoration: line-through;
}

.todo-container .buttons {
  padding: 15px;
  margin-top: -20px;
}

.todo-container .buttons span {
  background-color: #efbbcf;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

.todo-container .buttons .delete-all {
  float: right;
  background-color: #ffd5cd;
}

.tasks-stats {
  overflow: hidden;
  margin: 10px auto;
  width: 600px;
  font-size: 12px;
}

.tasks-stats .tasks-count {
  width: 50%;
  float: left;
  padding: 10px;
}

.tasks-stats .tasks-completed {
  width: 50%;
  float: right;
  padding: 10px;
  text-align: right;
}

.tasks-stats .tasks-count span,
.tasks-stats .tasks-completed span {
  color: #fff;
  padding: 1px 5px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
}

.tasks-stats .tasks-count span {
  background-color: #efbbcf;
}

.tasks-stats .tasks-completed span {
  background-color: #ffd5cd;
}
